html{
    background-color: #1f1b1b;
    color:#fff;
    font-family:'Times New Roman', Times, serif;
    padding-top:5px;
    padding-left:100px;
    padding-right:100px;
}

body{
    border-left:0.5px solid whitesmoke;
    border-right:0.5px solid whitesmoke;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:50px;
    padding-right:50px;
}



h1,h2,h3{
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    padding:20px;

}

table{
    width:100%;
    text-align:center;
    border:1px solid orange;
    margin-bottom:10px;
}

td,th{
    padding:10px;
    border:2px solid orange;
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

section{
    margin-bottom:25px;
    margin-top:25px;
}

aside{
    margin-bottom:25px;
    margin-top:25px;
}

figcaption{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:yellow;
    
}
img{
   
    border-radius:5px;
}

#abouter{
    width:400px;
    border-radius: 5px;
}

details{
    margin-bottom:10px;
}
summary{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}


#pfoot{
    text-align: center;
}


a{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:orange;
    text-decoration: none;


}

a:visited{
    color:red;
}

a:hover , a:active{
    background-color: #333;
    color:yellowgreen;
}